<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="pr17Entities" connectionString="metadata=res://*/bd.csdl|res://*/bd.ssdl|res://*/bd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NNC-LAP;initial catalog=pr17;integrated security=True;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>